<h2>New user</h2>

<a href="/admin">go back</a>

<form method="POST" action="/admin/users/new">
  <span class="label">new username</span> <input type="text" name="username">
  <span class="label">new password</span> <input type="password" name="password_a">
  <span class="label">verify password</span> <input type="password" name="password_b"> <p>
  <input type="submit" value="Submit">
</form>
